* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.slider-container {
  background-color: #ECDEC1;
  padding: 10px 0px;
}


.css-cyqh1t-MuiPaper-root-MuiDrawer-paper {
  left: 81% !important;
}


/* .slick-container .slick-slider .slick-arrow{
  display: none;
} */
.slick-slider .slick-initialized button {
  display: none !important;
}

.slide1 {
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: black;
  text-align: right;
  max-width: 400px;
}

.btn {
  padding: 10px 20px;
  color: black !important;
  border: 2px solid #555555;
  background-color: #ECDEC1;
}


.btn:hover {
  background-color: #555555;
  color: white;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: black;
  text-align: left;
  max-width: 400px;
}

.shipping {
  background-color: #ECDEC1;
  height: 200px;
  width: 100%;
  margin-top: -7px;
}
.icons{
  display: flex;
  padding: 20px;
  justify-content: center;
  padding: 50px 0px;
}
.i1{
  padding: 10px;
}
.h3{
  font-size: 20px !important;
  font-family: sans-serif;
 
}
.h5{
  font-size: 12px !important;
  font-family: sans-serif;
  
}
.t1{
  padding: 10px ;
}
.info{
  width: 100%;
  height: 400px;
  padding:70px 30px 70px 30px;
}
.content-item{
  text-align: center;
}